default:
    canvas_url: http://localhost
    sen_url: http://localhost:3002
    access_token: Bearer obbSivMVhix83xUSXVZ0xe76kT3Wa8193oaIalHhxboJ5AlnxqIplShd1TBiAWYj
    dev_key: JTIFwEOW4wDIsByWXLiFHlcT1jTN7HpgA34Cqk6KzyonjQLlQIChCIfCCk4NJzD5
    account_id: 2
    records_per_page: 4 
    
test:
    canvas_url: http://192.168.31.7
    sen_url: http://192.168.31.7:3001
    access_token: Bearer Uw9flvBP5j8l7Vd4ABztVVLB8e4yJx2A5g6EGI7j58Yd2ySJs7qWqliltROUsKcB  
    account_id: 2
    records_per_page: 4

int:
    canvas_url: http://192.168.31.6
    sen_url: http://192.168.31.6:8383
    access_token: Bearer alpRpz2flrNUdCEvPbdcKh6kraI6awXuHt6oldvCXWFVkhYLjST68WVyQrcaT9qy
    dev_key: JTIFwEOW4wDIsByWXLiFHlcT1jTN7HpgA34Cqk6KzyonjQLlQIChCIfCCk4NJzD5
    account_id: 2
    records_per_page: 4

staging:
    canvas_url: http://camfedstage
    sen_url: http://camfedstage:8383
    access_token: Bearer PP3rui3JnDFDdv6ym5JT2Rhye07zlO6nZnDUs0aayIKuivjMHJZrSwqnIUJPvh4g
    dev_key: kVZqIlxlXAYSHTOKbQR8AIVDDJ1jjM21J6gXWYgxcBlrm1Vb36BIxJYxWGUUigVL
    account_id: 2
    records_per_page: 4
