default:
    canvas_url: http://localhost
    sen_url: http://localhost:3002
    sen_social_url: http://localhost/sen/api/v1
    access_token: Bearer obbSivMVhix83xUSXVZ0xe76kT3Wa8193oaIalHhxboJ5AlnxqIplShd1TBiAWYj
    dev_key: JTIFwEOW4wDIsByWXLiFHlcT1jTN7HpgA34Cqk6KzyonjQLlQIChCIfCCk4NJzD5
    account_id: 2
    records_per_page: 4 
    super_admin: ""
    
test:
    canvas_url: http://camfedtestenv
    sen_url: http://camfedtestenv:3001
    sen_social_url: http://camfedtestenv/sen/api/v1
    access_token: Bearer SRp3FjZPyoMqB7jv5r3OSfws2QYj16z5uXVOYyRgRxWR0yJ0Tw0GmuAQHASQZ2d1
    dev_key: 7knvfKyBe8u0N66pKy6nNaNGj1oSxb1XuIcqghle9exsYLZUPhyJA2yLgJ2XrW0O
    account_id: 2
    records_per_page: 4
    super_admin: "camfed@thoughtworks.com"
    super_admin_password: "camfed"
    
int:
    canvas_url: http://192.168.31.6
    sen_url: http://192.168.31.6:8383
    sen_social_url: http://192.168.31.6/sen/api/v1
    access_token: Bearer hv1OIB3hDBnJfWpVoNi2G03pLlH2uexnlrpX80KualoLAr4fS1Aeava9rRpLztiU
    dev_key: sLoYiO53XISqSM4zbKRpW68JUsWFK8pbMcBuwpGWZadRuErqghtqCvo5YhI6XzEa
    account_id: 2
    records_per_page: 4
    super_admin: "integration@camfed.com"
    super_admin_password: "integration"

staging:
    canvas_url: http://camfedstage
    sen_url: http://camfedstage:8383
    sen_social_url: http://camfedstage/sen/api/v1
    access_token: Bearer lojIshSA2MMq9tLstghghaDHAElisnqxnI7LEnG55JRqsafZKQFjCD9eDJQT5k3l
    dev_key: SL73z55pBRr5tx3MyhesT4ZNboM9j1xQEUyBrtP9JhBMtkpBu2GvMGcehtD2YWf0
    account_id: 2
    records_per_page: 4
    super_admin: "sen.camfed@gmail.com"
    super_admin_password: "staging"    

    
